In [355]:
import pandas as pd
pd.options.mode.chained_assignment = None  


user_info = ['user_id','user_experience','user_education_background']


user_results = ['user_id','params','accuracy','time_taken']


user_final_result = ['user_id','params','accuracy','time_taken']



#exclude the geo codes column.
dataset_user_info = pd.read_csv('./user_data/server_a/server_a_user_info.csv',skiprows=[0],usecols=[0,1,2],header=None,names=user_info)
dataset_user_results = pd.read_csv('./user_data/server_a/server_a_user_results.csv',skiprows=[0],usecols=[1,2,3,4],header=None,names=user_results)
dataset_user_final_results = pd.read_csv('./user_data/server_a/final_Results.csv',skiprows=[0],usecols=[1,2,3,4],header=None,names=user_final_result)

#remove all -3 and -1 accuracies
dataset_user_results_fanova = dataset_user_results
dataset_user_results_fanova = dataset_user_results_fanova[dataset_user_results_fanova['accuracy']>0]
dataset_user_results_fanova.accuracy

0      0.100
1      0.100
2      0.100
6      0.100
7      0.100
8      0.100
12     0.668
13     0.540
15     0.418
16     0.564
19     0.544
20     0.708
22     0.742
23     0.100
24     0.100
27     0.100
29     0.100
30     0.330
31     0.330
32     0.672
33     0.100
34     0.100
35     0.332
36     0.672
37     0.292
38     0.526
40     0.744
42     0.672
43     0.702
44     0.744
       ...
366    0.126
367    0.220
368    0.108
369    0.188
370    0.194
371    0.202
372    0.186
373    0.186
374    0.278
375    0.230
376    0.346
377    0.390
378    0.512
379    0.630
380    0.638
385    0.100
387    0.100
388    0.190
389    0.256
390    0.296
391    0.336
393    0.632
395    0.100
396    0.100
397    0.100
398    0.306
399    0.384
400    0.154
402    0.148
403    0.752
Name: accuracy, Length: 273, dtype: float64

In [338]:
dataset_user_final_results.groupby('user_experience').count()
# dataset_user_info.user_experience.size

                 user_id  user_education_background
user_experience
0                      9                          9
3                      7                          7
4                      1                          1
5                      1                          1
6                      1                          1
9                      3                          3
10                     1                          1
12                     5                          5
18                     1                          1
20                     4                          4
24                     3                          3
36                     1                          1

In [ ]:
dataset_user_info.head()

In [ ]:
dataset_user_results.head()

In [ ]:
#it is same as dataset_user_results but with accuracy>=0
dataset_user_results_fanova.head()

In [339]:
dataset_user_final_results.head()

,user_id,params,accuracy,time_taken
0,BC7935A,"{""epochs"": {""value"": 100.0, ""comment"": 4, ""com...",0.772,1043.760
1,6B392DA,"{""epochs"": {""value"": 150.0, ""comment"": 1, ""com...",0.754,1527.990
2,02AECEA,"{""epochs"": {""value"": 25.0, ""comment"": 4, ""comm...",0.716,131.277
3,9950E8A,"{""epochs"": {""value"": 90.0, ""comment"": 4, ""comm...",0.680,435.141
4,B65339A,"{""epochs"": {""value"": 100.0, ""comment"": 4, ""com...",0.592,520.916

In [358]:
def transform_rows(row):
    global dataset_user_info
    exp = None
    education = None
    for index, element in dataset_user_info.iterrows():
        if element['user_id'] == row['user_id']:
            exp = element['user_experience']
            education = element['user_education_background']
            break
    if exp is not None and education is not None:
        row['user_experience'] = exp
        row['user_education_background'] = education
    return row
dataset_user_final_results.drop(['params'],inplace=True,axis=1)
dataset_user_final_results = dataset_user_final_results.apply(lambda row: transform_rows(row),axis=1)
dataset_user_final_results = dataset_user_final_results[dataset_user_final_results['accuracy']>=0]

In [362]:
# dataset_user_final_results.groupby('user_experience').count()
# print(np.setdiff1d(dataset_user_final_results.user_id.tolist(),dataset_user_info.user_id.tolist()))
# print(dataset_user_info.user_id.size)
# print(dataset_user_final_results.user_id.size)

# from collections import Counter
# [k for (k,v) in Counter(dataset_user_final_results.user_id.tolist()).items() if v > 1]

                 user_id  accuracy  time_taken  user_education_background
user_experience
0                      8         8           8                          8
3                      7         7           7                          7
4                      1         1           1                          1
5                      1         1           1                          1
6                      1         1           1                          1
9                      2         2           2                          2
10                     1         1           1                          1
12                     4         4           4                          4
18                     1         1           1                          1
20                     3         3           3                          3
24                     1         1           1                          1
36                     1         1           1                          1

In [ ]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

#accuracy scatter plot
zipped_values = [list(x) for x in zip(*sorted(zip(dataset_user_final_results['user_experience'],dataset_user_final_results['accuracy'],dataset_user_final_results['user_id']), key=itemgetter(0,1)))]
fig, ax = plt.subplots()
ax.scatter(zipped_values[0],zipped_values[1])
# ax.plot(keys,values)
ax.set(xlabel='Experience (s)', ylabel='accuracy ',
       title='Experience vs Accuracy (All data points)')
ax.grid()
plt.xticks(zipped_values[0])
plt.show()

In [ ]:
#accuracy scatter plot average

import matplotlib
import matplotlib.pyplot as plt
import numpy as np

a = [list(x) for x in zip(*sorted(zip(dataset_user_final_results['user_experience'],dataset_user_final_results['accuracy'],dataset_user_final_results['user_id']), key=itemgetter(0,1)))]
n=len(a[0])
dataset = {}
for element in range(0,n):
    if a[0][element] not in dataset:
        dataset[a[0][element]] = {}
        dataset[a[0][element]]['sum'] = a[1][element]
        dataset[a[0][element]]['count'] = 1
        
    else:
        dataset[a[0][element]]['sum']+= a[1][element]
        dataset[a[0][element]]['count'] += 1
print(dataset)
print(a)
keys = []
values = []
for key,value in dataset.items():
    keys.append(key)
    values.append(value['sum']/value['count'])
fig, ax = plt.subplots()
ax.scatter(keys,values)
ax.plot(keys,values)
ax.set(xlabel='Experience (s)', ylabel='accuracy ',
       title='About as simple as it gets, folks')
ax.grid()
plt.xticks(keys)
plt.show()

In [ ]:
import numpy as np
#correlation value
filtered = dataset_user_final_results[dataset_user_final_results['accuracy']>=0]
# correlation = dataset_user_final_results['accuracy'].corr(dataset_user_final_results['user_experience'])
variance_accuracy = np.var(filtered['accuracy'].tolist())
std_accuracy = np.std(filtered['accuracy'].tolist())
mean_accuracy = np.mean(filtered['accuracy'].tolist())
print("Variance in accuracy {}\n Deviation in accuracy {}\n Mean of accuracy {}\n".format(variance_accuracy,std_accuracy,mean_accuracy))

In [ ]:
#convert json to columns and add exp, background and accuracy in single dataframe for both fanova and results row
import json
from collections import defaultdict

data_dict = defaultdict(list)
def transform_rows(row):
    global dataset_user_info, data_dict
    exp = None
    education = None
    for index, element in dataset_user_info.iterrows():
        if element['user_id'] == row['user_id']:
            exp = element['user_experience']
            education = element['user_education_background']
            break
   
    if exp is not None and education is not None:
        row['user_experience'] = exp
        row['user_education_background'] = education
        
    if row['lossFunction.value'] == "cross_entropy":
        row['lossFunction.value'] = 1
    
    if row['lossFunction.value'] == "negative_log_likelihood":
        row['lossFunction.value'] = 2
    
    if row['lossFunction.value'] == "mean_squared_loss":
        row['lossFunction.value'] = 3
    
    if row['lossFunction.value'] == "l1_loss":
        row['lossFunction.value'] = 4
#     data_row = [row['accuracy'],row['epochs.value'],row['batchSize.value']]
    data_row = [row['accuracy'],row['epochs.value'],row['batchSize.value']]
    if row['optimizer.value'] == "adam_optimizer":
        row['alpha.value'] = float('nan')
        row['initialAccumulator.value'] = float('nan')
        row['lambda.value'] = float('nan')
        row['learningRateDecay.value'] = float('nan')
        row['momentum.value'] = float('nan')
        row['rho.value'] = float('nan')
        data_row.extend([row['lossFunction.value'],row['beta1.value'],row['beta2.value'],row['weightDecay.value'],row['learningRate.value'],row['epsilon.value']])
        data_dict[row['optimizer.value']].append(data_row)
        row['optimizer.value'] = 1
        
    if row['optimizer.value'] == "ada_delta":
        row['beta1.value'] = float('nan')
        row['beta2.value'] = float('nan')
        row['alpha.value'] = float('nan')
        row['initialAccumulator.value'] = float('nan')
        row['lambda.value'] = float('nan')
        row['learningRateDecay.value'] = float('nan')
        row['momentum.value'] = float('nan')
        data_row.extend([row['lossFunction.value'],row['rho.value'],row['epsilon.value'],row['weightDecay.value'],row['learningRate.value']])
        data_dict[row['optimizer.value']].append(data_row)
        row['optimizer.value'] = 2
        
    if row['optimizer.value'] == "averaged_sgd":
        row['beta1.value'] = float('nan')
        row['beta2.value'] = float('nan')
        row['epsilon.value'] = float('nan')
        row['initialAccumulator.value'] = float('nan')
        row['learningRateDecay.value'] = float('nan')
        row['momentum.value'] = float('nan')
        row['rho.value'] = float('nan')
        data_row.extend([row['lossFunction.value'],row['alpha.value'],row['lambda.value'],row['weightDecay.value'],row['learningRate.value']])
        data_dict[row['optimizer.value']].append(data_row)
        row['optimizer.value'] = 3
       
    if row['optimizer.value'] == "rms_prop":
        row['beta1.value'] = float('nan')
        row['beta2.value'] = float('nan')
        row['initialAccumulator.value'] = float('nan')
        row['lambda.value'] = float('nan')
        row['learningRateDecay.value'] = float('nan')
        row['rho.value'] = float('nan')
        data_row.extend([row['lossFunction.value'],row['momentum.value'],row['alpha.value'],row['weightDecay.value'],row['learningRate.value'],row['epsilon.value']])
        data_dict[row['optimizer.value']].append(data_row)
        row['optimizer.value'] = 4
        
    if row['optimizer.value'] == "sgd":
        row['beta1.value'] = float('nan')
        row['beta2.value'] = float('nan')
        row['epsilon.value'] = float('nan')
        row['alpha.value'] = float('nan')
        row['initialAccumulator.value'] = float('nan')
        row['lambda.value'] = float('nan')
        row['learningRateDecay.value'] = float('nan')
        row['rho.value'] = float('nan')
        data_row.extend([row['lossFunction.value'],row['momentum.value'],row['weightDecay.value'],row['learningRate.value']])
        data_dict[row['optimizer.value']].append(data_row)
        row['optimizer.value'] = 5
        
    if row['optimizer.value'] == "ada_grad":
        row['beta1.value'] = float('nan')
        row['beta2.value'] = float('nan')
        row['epsilon.value'] = float('nan')
        row['alpha.value'] = float('nan')
        row['lambda.value'] = float('nan')
        row['momentum.value'] = float('nan')
        row['rho.value'] = float('nan')
        data_row.extend([row['lossFunction.value'],row['initialAccumulator.value'],row['learningRateDecay.value'],row['weightDecay.value'],row['learningRate.value']])
        data_dict[row['optimizer.value']].append(data_row)
        row['optimizer.value'] = 6
    
    return row

json_to_columns_results = pd.io.json.json_normalize(dataset_user_results.params.apply(json.loads))

#set index
dataset_user_results = dataset_user_results.set_index(np.arange(0,404,1))

json_to_columns_results['accuracy'] = dataset_user_results['accuracy']
json_to_columns_results['time_taken'] = dataset_user_results['time_taken']


json_to_columns_results = json_to_columns_results.apply(lambda row: transform_rows(row),axis=1)




json_to_columns_fanova = pd.io.json.json_normalize(dataset_user_results_fanova.params.apply(json.loads))

#set index
dataset_user_results_fanova = dataset_user_results_fanova.set_index(np.arange(0,273,1))

json_to_columns_fanova['accuracy'] = dataset_user_results_fanova['accuracy']

json_to_columns_fanova = json_to_columns_fanova.apply(lambda row: transform_rows(row),axis=1)


json_to_columns_fanova['time_taken'] = dataset_user_results_fanova['time_taken']
print(data_dict)
# print(json_to_columns_fanova.accuracy)

# print("user df size: {} and fanova result size: {}".format(json_to_columns_results.user_id.size,json_to_columns_fanova.user_id.size))

In [ ]:
#strategy experiments
#divide it into age groups <=3, (3-9],>9 

print(json_to_columns_fanova.columns)

group1 = json_to_columns_results['user_experience']<=3
group2 = (json_to_columns_results['user_experience']>3) & (json_to_columns_results['user_experience']<=9)
group3 = (json_to_columns_results['user_experience']>9) & (json_to_columns_results['user_experience']<=36)

json_to_columns_results_3 = json_to_columns_results[group1]
json_to_columns_results_9 = json_to_columns_results[group2]
json_to_columns_results_36 = json_to_columns_results[group3]


group3_tries  = json_to_columns_results_3.user_id.size//pd.unique(json_to_columns_results_3.user_id).size
group9_tries  = json_to_columns_results_9.user_id.size//pd.unique(json_to_columns_results_9.user_id).size
group36_tries = json_to_columns_results_36.user_id.size//pd.unique(json_to_columns_results_36.user_id).size

group3_total_time = sum(json_to_columns_results_3.time_taken)//(pd.unique(json_to_columns_results_3.user_id).size*60)
group9_total_time = sum(json_to_columns_results_9.time_taken)//(pd.unique(json_to_columns_results_9.user_id).size*60)
group36_total_time = sum(json_to_columns_results_36.time_taken)//(pd.unique(json_to_columns_results_36.user_id).size*60)

group3_each_run_time = group3_total_time/group3_tries
group9_each_run_time = group9_total_time/group9_tries
group36_each_run_time = group36_total_time/group36_tries


print("rows in group1:{} group2:{} and group3:{}".format(json_to_columns_results_3.user_id.size,json_to_columns_results_9.user_id.size,json_to_columns_results_36.user_id.size))
# print("Avg parameters tried based on experience group1:{} group2:{} and group3:{}".format(json_to_columns_results_3.user_id.size//pd.unique(json_to_columns_results_3.user_id).size,json_to_columns_results_9.user_id.size//pd.unique(json_to_columns_results_9.user_id).size,json_to_columns_results_36.user_id.size//pd.unique(json_to_columns_results_36.user_id).size))
# print("Avg time for each user took based on experience group1:{} group2:{} and group3:{}".format(sum(json_to_columns_results_3.time_taken)//(pd.unique(json_to_columns_results_3.user_id).size*60),sum(json_to_columns_results_9.time_taken)//(pd.unique(json_to_columns_results_9.user_id).size*60),sum(json_to_columns_results_36.time_taken)//(60*pd.unique(json_to_columns_results_36.user_id).size)))
# print("Avg time each user took on one job group1:{} group2:{} and group3:{}".format(sum(json_to_columns_results_3.time_taken)//(pd.unique(json_to_columns_results_3.user_id).size*60),sum(json_to_columns_results_9.time_taken)//(pd.unique(json_to_columns_results_9.user_id).size*60),sum(json_to_columns_results_36.time_taken)//(60*pd.unique(json_to_columns_results_36.user_id).size)))

print("Avg parameters tried based on experience group1:{} group2:{} and group3:{}".format(group3_tries,group9_tries,group36_tries))
print("Avg time for took based on experience group1:{} group2:{} and group3:{}".format(group3_total_time,group9_total_time,group36_total_time))
print("Avg time each user took on one job group1:{} group2:{} and group3:{}".format(group3_each_run_time,group9_each_run_time,group36_each_run_time))

#

In [ ]:
group1_fanova = json_to_columns_fanova['user_experience']<=3
group2_fanova = (json_to_columns_fanova['user_experience']>3) & (json_to_columns_fanova['user_experience']<=9)
group3_fanova = (json_to_columns_fanova['user_experience']>9) & (json_to_columns_fanova['user_experience']<=36)

json_to_columns_fanova_3 = json_to_columns_fanova[group1_fanova]
json_to_columns_fanova_9 = json_to_columns_fanova[group2_fanova]
json_to_columns_fanova_36 = json_to_columns_fanova[group3_fanova]


from scipy.stats import kruskal,f_oneway
stat, p = kruskal(json_to_columns_fanova_3['accuracy'], json_to_columns_fanova_9['accuracy'], json_to_columns_fanova_36['accuracy'])
print('Statistics=%.3f, p=%.3f' % (stat, p))
# interpret
alpha = 0.05
if p > alpha:
    print('Same distributions (fail to reject H0)')
else:
    print('Different distributions (reject H0)')


stat, p = f_oneway(json_to_columns_fanova_3['accuracy'], json_to_columns_fanova_9['accuracy'], json_to_columns_fanova_36['accuracy'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

# interpret
if p > alpha:
    print('Same distributions f_oneway (fail to reject H0)')
else:
    print('Different distributions f_oneway (reject H0)')

In [ ]:
import csv
for key, val in data_dict.items():
    w = csv.writer(open("/Users/kanavanand/Desktop/user_data/thesis-implementation/le-net/user_data/analysis/"+key+".csv", "w"))
    x = csv.writer(open("/Users/kanavanand/Desktop/user_data/thesis-implementation/le-net/user_data/analysis/"+key+"-accuracy.csv", "w"))

    for element in val:
        w.writerow(element[1:])
        x.writerow([element[0]])

In [ ]:
# print(json_to_columns_fanova['accuracy'])
accuracy = json_to_columns_fanova['accuracy'].tolist()
dropped_fanova = json_to_columns_fanova.drop(['alpha.value','beta1.value','beta2.value','epsilon.value','initialAccumulator.value','lambda.value','learningRate.value','learningRateDecay.value','momentum.value','rho.value','weightDecay.value','time_taken','finalSubmission.value','user_experience','user_education_background','user_id','accuracy','alpha.comment','alpha.comment_other','batchSize.comment','batchSize.comment_other','beta1.comment','beta1.comment_other','beta2.comment','beta2.comment_other','epochs.comment','epochs.comment_other','epsilon.comment','epsilon.comment_other','initialAccumulator.comment','initialAccumulator.comment_other','lambda.comment','lambda.comment_other','learningRate.comment','learningRate.comment_other','learningRateDecay.comment','learningRateDecay.comment_other','lossFunction.comment','lossFunction.comment_other','momentum.comment','momentum.comment_other','optimizer.comment','optimizer.comment_other','rho.comment','rho.comment_other','weightDecay.comment','weightDecay.comment_other'],axis=1)
print(dropped_fanova.head())
dropped_fanova.to_csv(path_or_buf="/Users/kanavanand/Desktop/user_data/thesis-implementation/le-net/user_data/analysis/features.csv",index=False)

with open('/Users/kanavanand/Desktop/user_data/thesis-implementation/le-net/user_data/analysis/accuracy.csv', 'w') as f:
    for item in accuracy:
        f.write("%s\n" % item)

In [ ]:
import numpy as np
from fanova import fANOVA
import fanova.visualizer
import ConfigSpace
from ConfigSpace.hyperparameters import UniformFloatHyperparameter
import os
path = os.path.dirname(os.path.realpath(__file__))
# directory in which you can find all plots
plot_dir = path + '/plots/'
# artificial dataset (here: features)
#features = np.loadtxt(path + '/fanova/features.csv', delimiter=",")
#responses = np.loadtxt(path + '/fanova/accuracy.csv', delimiter=",")
#features = features[1:]
files = ['adam_optimizer','ada_grad','ada_delta','averaged_sgd','sgd','rms_prop']
for element in files:
    features = np.loadtxt(path + '/thesis-implementation/le-net/user_data/analysis/'+element+'.csv', delimiter=",")
    responses = np.loadtxt(path + '/thesis-implementation/le-net/user_data/analysis/'+element+'-accuracy.csv', delimiter=",")
    # config space
    pcs = list(zip(np.min(features,axis=0), np.max(features, axis=0)))
    cs = ConfigSpace.ConfigurationSpace()
    for i in range(len(pcs)):
        cs.add_hyperparameter(UniformFloatHyperparameter("%i" %i, pcs[i][0], pcs[i][1]))
            # create an instance of fanova with trained forest and ConfigSpace
    f = fANOVA(X = features, Y = responses, config_space=cs)
            # marginal of particular parameter:
    dims = (1, )
    print("Displaying importantance of each HP for {}:".format(element))
    for index in range(0,len(features[0])):
        res = f.quantify_importance((index, ))
        print(res)
            # getting the 10 most important pairwise marginals sorted by importance
    best_margs = f.get_triple_marginals(n=3)
    print(best_margs)
            # visualizations:
            # first create an instance of the visualizer with fanova object and configspace
vis = fanova.visualizer.Visualizer(f, cs,directory=plot_dir)
        # creating the plot of pairwise marginal:
vis.plot_pairwise_marginal((0,2), resolution=20)
        # creating all plots in the directory
vis.create_all_plots(plot_dir)